.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: $spacing;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing;
}

.col-wide {
    grid-column: 1 / -1;
}

.image-1 {
    grid-row: span 2;
    align-self: flex-end;
}

.image-2 {
    align-self: flex-end;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.information p + p {
    margin-top: $spacing;
}

.title {
    color: #b07df8;

    h1 {
        font-size: 3.75em;
        line-height: 1;
    }

    span {
        font-size: 0.875em;
        font-style: italic;
    }
}

.characteristics {
    display: flex;
    align-items: flex-start;

    div {
        width: 80px;
        text-align: center;
        background: linear-gradient(135deg, #8844ee, #b07dfb);
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(44, 44, 44, .15);
        position: relative;
    }

    div:first-child {
        margin-right: $spacing;
    }    

    span {
        display: block;
        color: #b07dfb;
    }
}

.number {
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.label {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.featured {
    color: #b07dfb;
    font-size: .875em;
    max-width: 16em;
}

.quote, .attributes {
    align-self: start;
    padding: $spacing;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(44, 44, 44, .15);
    background: linear-gradient(135deg, #8844ee, #b07bfd);
}

.quote {

    p {
        font-size: 1.5em;
        font-style: italic;
        text-align: center;
        color: white;
        max-width: 500px;
        margin: 0 auto;
    }
}

.attributes {

    li {
        color: white;
        font-family: Courier, monospace;
        font-size: 1.125em;
        padding: 15px;
    }
    li + li {
        border-top: 2px solid #b07dfb;
    }
}

@media (max-width:600px) {
    .content {
        grid-template-columns: auto;
    }
}